* {
  box-sizing:border-box;
}
body {
  margin: 0px;
  z-index: 0;
}

/* Navigation bar*/
/* Menu position, text properties*/
.Menu{
  position:  absolute;
  font-family: "Century Gothic", sans-serif;
  font-size: 1.4em;
  color: black;
  z-index: 4;
  margin-left: 20px;
  margin-top: 10px;
}
/* Menu links text properties and display condition*/
.Menu a {
  text-decoration: none;
  color: black;
  padding: 20px;
  display:inline-block;
}
/* Menu list general properties*/
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {
  display: inline-block;
}
/* On hover: Change background color*/
ul :hover {
  background: rgba(128,128,128, 0.3);
}
/* On hover display menu options*/
ul li:hover ul {
  display: block;
}
ul li ul {
  position: absolute;
  width: 15em;
  display: none;
}
ul li ul li {
  background:  rgba(128,128,128, 0.5);
  display: block;
}
ul li ul li a {
  display:block !important;
}
/* On hover: show this background color for menu options*/
ul li ul li :hover {
  background: #555;
  color: white;
}

/*Main Div*/
.Logo-container {
  position: absolute;
  top: 0px;
}
/* Title properties*/
.Heading {
  padding-left: 3%;
  margin-top: 8%;
  font-weight: bold;
  font-family: "Arial", sans-serif;
  font-size: 1.7vw;
  color: black;
  line-height: 2.5vw;
}
/* Logos images*/
.image {
  margin-top: 2vw;
  border-radius: 330px 330px 330px 330px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* CRAFT logo*/
/* properties of first logo div that keeps the two columns side by side*/
.row1 {
  display: inline-flex;
  position: relative;
  z-index: 2;
  width: 100%;
}

/* description*/
.text {
  font-weight: normal;
  font-family: "Nueva Std";
  font-size: 1.3vw;
  color: black;
  text-align: justify;
  line-height: 2vw;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
  text-indent: 50px;
}
/* Make the text bold*/
strong {
  font-style: italic;
  color: rgb(128,92,14);
}
/* Div containing the title and the description*/
.set {
  padding: 10%;
  background-color: #02A5AD;
  height: 45vw;
}
/* Logo background image*/
.B-color {
  background: url("https://github.com/A-Zahra/Cart-351/blob/master/My-website/microfluidic_chip.jpg?raw=true");
  background-repeat: repeat;
  background-size: 70vw;
  padding: 25%;
  padding-bottom: -15%;
  height: 45vw;
  margin-right: 0;
}

/* EERIC logo*/
/* properties of second logo div that keeps the two columns side by side*/
.row-2 {
  display: inline-flex;
  position: relative;
  z-index: 2;
  width: 100%;
}

/* Logo background image*/
.B-color-2 {
  background: url("https://github.com/A-Zahra/Cart-351/blob/master/My-website/earthquake.jpg?raw=true");
  background-repeat: repeat;
  background-size: 70vw;
  padding: 25%;
  padding-bottom: -15%;
  height: 45vw;
  margin-right: 0;
}
/*Div containing the title and the description*/
.set-2 {
  padding: 10%;
  background-color: #705D37;
  height: 45vw;
}
/* specifically setting top margin for this logo title*/
#difference {
  margin-top: 1vw;
}
/* Specific setting for EERIC logo description*/
/* Increasing the space between the paragraph and title*/
.paragh {
  margin-top: 2%;
}
#I-diff {
  margin-left: -5%;
}

/* ATLAS logo*/
/* properties of third logo div that keeps the two columns side by side*/
.row-3 {
  display: inline-flex;
  position: relative;
  z-index: 2;
  width: 100%;
}

/* Background image properties*/
.B-color-3{
  background: url("https://github.com/A-Zahra/Cart-351/blob/master/My-website/googleMap.jpg?raw=true");
  background-repeat: repeat;
  background-size: 70vw;
  padding: 25%;
  padding-bottom: -15%;
  height: 45vw;
  margin-right: 0;
}
/*Div containing the title and the description*/
.set-3 {
  padding: 10%;
  background-color: #AD2E24;
  height: 45vw;
}

/* Loyola-Committee logo*/
/* properties of Forth logo div that keeps the two columns side by side*/
.row-4 {
  display: inline-flex;
  position: relative;
  z-index: 2;
  width: 100%;
}
/* Column properties*/
.colWidth1 {
  width: 40%;
  float: left;
  flex: 40%;
}
.colWidth2 {
  width:60%;
  float: left;
  flex: 60%;
}
/* Background image properties*/
.B-color-4 {
  background: url("https://github.com/A-Zahra/Cart-351/blob/master/My-website/friends.jpg?raw=true");
  background-repeat: repeat;
  background-size: 70vw;
  padding: 25%;
  padding-bottom: -15%;
  height: 45vw;
  margin-right: 0;
}
/*Div containing the title and the description*/
.set-4 {
  padding: 10%;
  background-color: #C3997E;
  height: 45vw;
}

/* Photographer divs*/
/* The Photographers name and website address properties*/
.photographer {
  font-family: "Century Gothic", sans-serif;
  color: white;
  margin-left: -7.5vw;
  margin-top: 9vw;
  font-size: 1vw;
  width: 80%;
}
.photographer2 {
  font-family: "Century Gothic", sans-serif;
  color: black;
  margin-left: -8vw;
  margin-top: 8vw;
  background-color: rgba(112,93,55, 1);
  width: 100%;
  font-size: 1vw;
  padding:3%;
}
.photographer3, .photographer4 {
  color: black;
  margin-top: 9vw;
  margin-left: -7.5vw;
  width: 80%;
  font-family: "Century Gothic", sans-serif;
  font-size: 1vw;
}
/*Contact icons properties*/
.innerCollection {
  width: 33%;
  margin-top: -20px;
  float: left;
  flex: 33%;
  position: relative;
  padding: 10px;
}
.innerItems {
  margin-top: -5vw;
  width: 25.4%;
  margin-left: 44vw;
  padding: 20px;
}
.emailLink {
  color: black;
  font-weight: normal;
  font-family: "Century Gothic", sans-serif;
  font-size: 1vw;
  text-align: left;
  margin-left: -5vw;
  margin-top: -5.5vw;
  padding: 5px;
  z-index: 3;
  display: none;
}
.email:hover .emailLink {
  display: block;
}
.contacts {
  width: 100%;
}

/* The Copyright*/
#Copyright {
  height: 4.2vw;
  width: 100%;
  background-color: black;
  font-weight: normal;
  font-family: "Corbel";
  font-size: 1.3vw;
  color: white;
  text-align: center;
  z-index: 4;
  position: relative;
  display: inline-flex;
}

/*Tablet version*/
@media screen and (max-width: 1280px) {
  /* Navigation bar*/
  .Menu {
    font-size: 2.2vw;
    width: 100%;
    background-color: rgb(255, 255, 255, 0.7);
    margin: 0px;
  }
  .Menu a {
    font-weight: bold;
  }
  /*Headings*/
  .Heading {
    margin-top: 15%;
  }
  /* Logos description*/
  .text {
    font-size: 1.5vw;
  }
  #difference {
    margin-top: 1%;
  }
  /* Use same padding for all of the divs that contain both the title and the description about the logos*/
  .set, .set-2, .set-3, .set-4{
    padding: 7%;
  }
  /*Contact icons properties*/
  .innerCollection {
    width: 33%;
    margin-top: 3px;
    float: left;
    flex: 33%;
    position: relative;
    padding: 10px;
  }
  .innerConnection {
    margin-top: -3.5vw;
    padding: 0px;
  }
  .innerItems {
    width: 40%;
    float: right;
    margin-right: 1vw;
    padding: 0px;
    margin-top: -5.5vw;
  }
  .emailLink {
    font-size: 1.5vw;
    margin-left: 0.5vw;
    margin-top: -10vw;
  }
  .photographer, .photographer2, .photographer3, .photographer4 {
    font-size: 1.3vw;
    margin-top: 8vw;
    width: 100%;
  }
}

/* Cell phone version*/
@media screen and (max-width: 740px) {
  /*Navigation bar*/
  .Menu {
    font-size: 2.5vw;
    position: fixed;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    opacity: 0.8;
    background-color: white;
  }
  .Menu a {
    padding: 10px;
    font-weight: bold;
  }
  /* Headings*/
  .Heading {
    margin-top: 10vw;
  }
  /* Specific setting for EERIC logo description*/
  .paragh {
    margin-top: -1%;
  }
  /* Logos description*/
  .text {
    padding-bottom: 5px;
    text-indent: 15px;
  }
  /* Logos images*/
  .image {
    margin-top: 15%;
  }

  /* Photographers name and address properties*/
  .photographer, .photographer2, .photographer3{
    font-size: 1vw;
    margin-top: 7vw;
    width: 100%;
  }
  .photographer4 {
    font-size: 1vw;
    margin-top: 5vw;
    width: 100%;
  }
  .innerConnection {
    margin-top: -2vw;
    padding: 0px;
  }
  .innerCollection {
    width: 33%;
    float: left;
    flex: 33%;
    position: relative;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    margin-top: 0vw;
  }
  .innerItems {
    margin-right: 1vw;
    float: right;
    width: 35%;
    padding:0vw;
    margin-top: -6vw;
  }
  .emailLink {
    font-size: 1.3vw;
    margin-left: -1vw;
    margin-top: -10vw;
  }
  #Copyright {
    top: -3vw;
  }
}
