* {
  box-sizing:border-box;
}
body {
  margin: 0px;
  z-index: 0;
}
/* Slideshow container */
.slideshow-container {
  position: fixed;
  margin: 0;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/*Background image property*/
.images {
    width: 100%;
    height: 49.1vw;
    z-index: 1;
}
/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}
/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 0.5%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 3;
}
/* The dots general properties*/
.Dots {
  width: 100%;
  position: absolute;
  z-index: 3;
  margin-top: -5%;
}
/* change the dot color once it goes to the next slide*/
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
/* Menu properties*/
.Menu{
  position:  absolute;
  font-family: "Century Gothic", sans-serif;
  font-size: 1.2em;
  color: black;
  z-index: 4;
  margin-left: 20px;
  margin-top: 10px;
}
.Menu a {
  text-decoration: none;
  color: black;
  padding: 15px;
  display:inline-block;
}
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {
  display: inline-block;
}
ul :hover {
  background: rgba(128,128,128, 0.3);
}
ul li:hover ul {
  display: block;
}
ul li ul {
  position: absolute;
  width: 18em;
  display: none;
}
ul li ul li {
  background:  rgba(128,128,128, 0.5);
  display: block;
}
ul li ul li a {
  display:block !important;
}
ul li ul li :hover {
  background: #555;
  color: white;
}
/* The welcome sentence*/
.welcome {
  position: absolute;
  margin-top: -28%;
  margin-left: 26%;
  font-weight: bold;
  font-family: "Lucida handwriting", sans-serif;
  font-size: 3.3vw;
  color: black;
  text-align: center;
  z-index: 3;
}
/* About-me inner div*/
.row {
  margin-left: 7%;
  position: absolute;
  margin-top: -43vw;
}
.row::after {
 display: flex;
}
/* Set two columns side by side*/
.column {
  z-index: 3;
  width: 50%;
  padding: 30px;
  flex: 50%;
  float: left;
}
/* Columns properties individually*/
.col1 {
  width: 55%;
}
.col2 {
  width:36%;
  margin-top: 26px;
}
/* About-me title*/
.Titles {
  padding-left: 3%;
  margin-top: -1%;
  font-weight: normal;
  font-family: "Lucida handwriting", sans-serif;
  font-size: 2.3vw;
  color: black;
}

#discription {
  font-weight: normal;
  font-family: "Nueva Std";
  font-size: 1.5vw;
  color: black;
  text-align: justify;
  line-height: 2.5vw;
  padding-left: 3.5%;
  padding-right: 3.5%;
  padding-top: 2.5%;
  padding-bottom: 2.5%;
  margin-top: -5%;
  -webkit-transition: background-color 2s; /* For Safari 3.0 to 6.0 */
  transition: background-color 2s; /* For modern browsers */
}
#discription:hover {
   background-color: rgba(129,129,129, 0.5);
}

/* The photographer name + address*/
#photographer {
  color: white;
  position: absolute;
  margin-top: -4%;
  margin-left: 2%;
  font-weight: normal;
  font-family: "Century Gothic", sans-serif;
  font-size: 0.8vw;
  text-align: left;
  z-index: 3;
}
/* My portfolio each section image*/
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 100%;
  border-color: black;
  transition: .5s ease;
  backface-visibility: hidden;
}
/* On hover: shows the click button*/
.middle {
  transition: .2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 42.5%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%)
}
.po-column:hover .image {
  opacity: 0.5;
}
.po-column:hover .middle {
  opacity: 1;
}
/* click button properties*/
.text {
  background-color: #2CC8E8;
  font-size: 1.2vw;
  border-radius: 5px 5px 5px 5px;
  padding: 10px 15px;
  font-weight: normal;
  font-family: "Century Gothic", sans-serif;
}
.click  {
  color: white;
  text-decoration: none;
}
/* To put columns side by side*/
.po-column {
  z-index: 3;
  flex: 30%;
  float: left;
  width: 32%;
  padding: 15px;
  position: relative;
}
/* My portfolio inner div general properties*/
.po_row {
  margin-left: 7%;
  position: absolute;
  margin-top: -36.5vw;
}
.po_row::after {
 display: flex;
}
/* Contact me inner div general properties*/
.c_row {
  margin-left: 12%;
  position: absolute;
  margin-top: -44vw;
  width: 50%;

}
/* Contact-me title properties*/
.C-Info {
  z-index: 3;
  width: 20vw;
  float: left;
  padding: 2vw;
}
/* Information section properties*/
.C-column {

  width: 45vw;
  height: 30vw;
  flex: 70vw;
  float: left;
  padding-left: 1vw;
  background-color: rgba(255,215,135,0.3);
  margin-top: -5%;
  margin-left: 5.5%;
}
/* Each address properties*/
.items {
  font-weight: normal;
  font-family: "Nueva Std";
  font-size: 1.3vw;
  color: black;
  text-align: justify;
  padding-top: -5%;

}
.c-links{
  text-decoration: none;
  color: black;
}
/* On hover: change color*/
.c-links:hover {
  color: rgb(253,165,185);
}
/* The copyright properties*/
#Copyright {
  width: 100%;
  background-color: black;
  font-weight: normal;
  font-family: "Corbel";
  font-size: 1vw;
  color: white;
  text-align: center;
  z-index: 4;
  margin-top: -5%;
  padding-top: 1px;
  padding-bottom: 6px;
  display: none;
}
/* Tablet version*/
@media only screen and (max-width: 1280px) {
  .slideshow-container {
    position: absolute;
    margin: 0;
  }
  .images {
    height:58vw;
  }
  .Menu {
    position: fixed;
    font-size: 1.1em;
  }
  .mySlides {
    display: block;
    margin-top: -1%;
  }
  .prev, .next {
    display: none;
  }
  .Dots {
    display: none;
  }
  .row {
    margin-left: 5%;
    margin-top: -50%;
  }
  .column {
    padding: 30px;
  }
  .col1 {
    width: 55%;
  }
  .col2 {
    width: 40%;
    margin-top: 0%;
  }
  .Titles {
    font-size: 2vw;
  }
  #discription {
    font-size: 1.5vw;
    padding-top: 3vw;
  }
  .welcome {
    margin-top: -30%;
  }
  .po_row {
    margin-left: 5%;
    margin-top: -46%;
  }
  .po-column {
    padding: 5px;
    width: 33%;
  }
  .c_row {
    margin-left: 10%;
    margin-top: -50%;
  }
  .C-column {
    width: 100%;
  }
  .items {
    font-size: 1.5vw;
  }
  .C-Info {
    width: 70%;
  }
  #Copyright {
    margin-top: -25px;
    display: block;
  }
}
/* Cell phone version*/
@media screen and (max-width: 740px) {
  .slideshow-container {
    position: absolute;
    margin: 0;
  }

  .po-column {
    width: 30%;
  }
  .images {
    height:55vw;
  }
  .Menu {
    font-size: 0.7em;
    position: fixed;
  }
  .mySlides {
    display: block;
    margin-top: -1%;
  }
  .prev, .next {
    display: none;
  }
  .Dots {
    display: none;
  }
  .row {
    margin-left: 8%;
    margin-top: -45%;
  }
  .column {
    padding: 10px;
  }
  .col1 {
    width: 60%;
  }
  .col2 {
    width: 30%;
  }
  .welcome {
    margin-top: -30%;
  }
  .po_row {
    margin-left: 12%;
    margin-top: -40%;
  }
  .po-column {
    padding: 5px;
  }
  .Titles {
    font-size: 1.5vw;
  }
  #discription {
    font-size: 1.2vw;
    padding-top: 3vw;
  }
  .c_row {
    margin-left: 10%;
    margin-top: -50%;
  }
  .C-column {
    width: 100%;
  }
  .items {
    font-size: 0.5em;
  }
  #Copyright {
    margin-top: -25px;
    display: block;
  }
}
/* Cell phone version 2*/
@media screen and (max-width: 300px) {
  #discription {
    font-size: 1vw;
    padding-top: 3vw;
  }
  .row {
    margin-left: 5%;
    margin-top: -47%;
  }
  .column {
    padding: 5px;
  }
  .col1 {
    width: 100%;
  }
  
}
