* {
  box-sizing:border-box;
}

body {
  margin: 0px;
  z-index: 0;
}

/* Slideshow container */
.slideshow-container {
  position: fixed;
  margin: 0;
}
/* Hide the images by default */
.mySlides {
  display: none;
}
/*Background images position and z-index*/
.images {
    width: 100%;
    height: 49.1vw;
    z-index: 1;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}
/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* On hover: add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 0.5%;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
  z-index: 3;
}
/* The dots general properties*/
.Dots {
  width: 100%;
  position: absolute;
  z-index: 3;
  margin-top: -5%;
}
/* change the dot color once it goes to the next slide*/
.active, .dot:hover {
  background-color: #717171;
}
/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1s;
  animation-name: fade;
  animation-duration: 1s;
}
@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

/* Navigation bar*/
/* Menu position, text properties*/
.Menu{
  position:  absolute;
  font-family: "Century Gothic", sans-serif;
  font-size: 1.4em;
  color: black;
  z-index: 4;
  margin-left: 20px;
  margin-top: 10px;
}
/* Menu links text properties and display condition*/
.Menu a {
  text-decoration: none;
  color: black;
  padding: 20px;
  display:inline-block;
}
/* Menu list initial values*/
ul {
  display: inline;
  margin: 0;
  padding: 0;
}
ul li {
  display: inline-block;
}
/* On hover: change menu options color*/
ul :hover {
  background: rgba(128,128,128, 0.3);
}
ul li:hover ul {
  display: block;
}
/* Portfolio options poition, width and display condition*/
ul li ul {
  position: absolute;
  width: 15em;
  display: none;
}
/* Portfolio options background color and display condition*/
ul li ul li {
  background:  rgba(128,128,128, 0.5);
  display: block;
}
ul li ul li a {
  display:block !important;
}
/* On hover: change background color of portfolio options*/
ul li ul li :hover {
  background: #555;
  color: white;
}

/* The welcome sentence*/
.welcome {
  position: absolute;
  margin-top: -28%;
  margin-left: 29%;
  font-weight: bold;
  font-family: "Lucida handwriting", sans-serif;
  font-size: 4.5vw;
  color: black;
  text-align: center;
  z-index: 3;
}
/* Titles*/
.Titles {
  margin-top: -4%;
  font-weight: normal;
  font-family: "Lucida handwriting", sans-serif;
  font-size: 2.3vw;
  color: black;
}
/* The photographer name and address*/
#photographer {
  color: white;
  position: absolute;
  margin-top: -4%;
  margin-left: 2%;
  font-weight: normal;
  font-family: "Century Gothic", sans-serif;
  font-size: 0.8vw;
  text-align: left;
  z-index: 3;
}

/* About-me slide*/
/* About-me main div*/
.row {
  margin-left: 7%;
  position: absolute;
  margin-top: -43vw;
}
.row::after {
 display: flex;
}
/* Set two columns side by side*/
.column {
  z-index: 3;
  width: 50%;
  padding: 30px;
  flex: 50%;
  float: left;
}
/* Columns width*/
.col1 {
  width: 55%;
}
.col2 {
  width:36%;
  margin-top: 26px;
}
/* About-me short description*/
#description {
  font-weight: normal;
  font-family: "Nueva Std";
  font-size: 1.6vw;
  color: black;
  text-align: justify;
  line-height: 2.5vw;
  //padding-left: 2%;
  padding-right: 3.5%;
  padding-top: 3%;
  padding-bottom: 2.5%;
  margin-top: -5%;
  text-indent: 10%;
  -webkit-transition: background-color 2s; /* For Safari 3.0 to 6.0 */
  transition: background-color 2s; /* For modern browsers */
}
/* On hover: change description background color*/
#description:hover {
   background-color: rgba(129,129,129, 0.5);
}

/* Portfolio slide*/
/* My portfolio main div*/
.po_row {
  margin-left: 8%;
  position: absolute;
  margin-top: -45.5vw;
  width: 90%;
}
.po_row::after {
 display: flex;
}
/* Put columns side by side*/
.po-column {
  z-index: 3;
  flex: 30%;
  float: left;
  width: 31%;
  padding: 35px;
  position: relative;
}
/* On hover: set the opacity of image to 0.5 and the click button to 1.0*/
.po-column:hover .image {
  opacity: 0.5;
}
.po-column:hover .middle {
  opacity: 1;
}
/* Specific properties for Portfolio title*/
#po-title {
  margin-top: 40px;
  margin-left: 1%;
}
/* My portfolio each section image*/
.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  border-radius: 100%;
  border-color: black;
  transition: .5s ease;
  backface-visibility: hidden;
}
/* On hover: shows the click button*/
.middle {
  transition: .2s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}
/* Click button*/
.text {
  background-color: #2CC8E8;
  font-size: 1.7vw;
  border-radius: 5px 5px 5px 5px;
  padding: 18px 18px;
  font-weight: normal;
  font-family: "Century Gothic", sans-serif;
}
.click  {
  color: white;
  text-decoration: none;
}

/* Contact-me slide*/
/* Contact me main div*/
.c_row {
  margin-left: 9%;
  position: absolute;
  margin-top: -43%;
  width: 82%;
}
/* Contact-me title*/
.C-Info {
  z-index: 3;
  width: 20vw;
  float: left;
  margin-top: 15px;
}
/* Information section*/
.C-column {
  width: 100%;
  height: 30vw;
  flex: 70vw;
  float: left;
  padding-left: 1vw;
  background-color: rgba(255,215,135,0.4);
  /* margin-top: -5%; */
  /* margin-left: 5.5%; */
}
/* Each address properties*/
.items {
  font-weight: normal;
  font-family: "Nueva Std";
  font-size: 1.8vw;
  color: black;
  text-align: justify;
  padding-top: -5%;
}
.c-links{
  text-decoration: none;
  color: black;
}
/* On hover: change color*/
.c-links:hover {
  color: rgb(253,165,185);
}

/* The copyright properties*/
#Copyright {
  width: 100%;
  background-color: black;
  font-weight: normal;
  font-family: "Corbel";
  font-size: 1vw;
  color: white;
  text-align: center;
  z-index: 4;
  margin-top: -5%;
  padding-top: 1px;
  padding-bottom: 6px;
  display: none;
}

/* Tablet version*/
@media only screen and (max-width: 1280px) {
  /* Home page*/
  /* slideshow container*/
  .slideshow-container {
    position: absolute;
    margin: 0;
  }
  .welcome {
    margin-top: -32%;
    font-size: 4.5vw;
  }
  .Menu {
    position: fixed;
    font-size: 1.3em;
  }
  .mySlides {
    display: block;
    margin-top: -1%;
  }
  .prev, .next {
    display: none;
  }
  .Dots {
    display: none;
  }
  .images {
    height:58vw;
  }
  .Titles {
    font-size: 2vw;
    background-color: rgb(255, 255, 255, 0.8);
    padding: 10px;
    width: 100%;
  }

  /* About-me slide*/
  .row {
    margin-left: 5%;
    margin-top: -49%;
  }
  .column {
    padding: 3%;
  }
  .col1 {
    width: 55%;
  }
  .col2 {
    width: 40%;
    margin-top: 0%;
  }
  #description {
    font-size: 1.5vw;
    padding-top: 3vw;
    padding-left: 1vw;
    padding-right: 1.5vw;
  }

  /* Portfolio slide*/
  .po_row {
    margin-left: 7.2%;
    margin-top: -52%;
    width: 90%;
  }
  #po-title {
    margin-left: 10px;
    width: 92%;
  }
  .middle {
    top: 50%;
    left: 50%;
  }
  .text {
    font-size: 1.5vw;
  }
  /* Contact-me slide*/
  .c_row {
    margin-left: 8%;
    margin-top: -46%;
    width: 83%;
  }
  .C-column {
    width: 100%;
  }
  .items {
    font-size: 2.2vw;
    padding-left: 2px;
  }
  .c-links {
    font-size: 2vw;
  }
  .C-Info {
    width: 100%;
  }

  /* Copyrights*/
  #Copyright {
    margin-top: -25px;
    display: block;
  }
}

/* Cell phone version*/
@media screen and (max-width: 740px){
  /* Home page*/
  /* Slideshow container*/
  .slideshow-container {
    position: absolute;
    margin: 0;
  }
  .mySlides {
    display: block;
    margin-top: -1%;
  }
  .welcome {
    margin-top: -30%;
    margin-left: 30%;
    font-size: 5vw;
    
  }
  .Titles {
    font-weight: bold;
    font-size: 2vw;
    font-family: "Century Gothic", sans-serif;
    padding: 3px;
    background-color: rgb(255,255,255,0.7);
    margin-top: 1%;
  }
  .Menu {
    font-size: 0.5em;
    position: fixed;
    margin-left: 0px;
    margin-top: 0px;
    width: 100%;
    opacity: 0.8;
    background-color: white;
  }
  .Menu a {
    padding: 10px;
    font-weight: bold;
  }
  .prev, .next {
    display: none;
  }
  .Dots {
    display: none;
  }
  .images {
    height:55vw;
  }
  #photographer {
    font-size: 5px;
    margin-top: -20px;
  }

  /* About-me slide*/
  .row{
    margin-left: 5%;
    margin-top: -52%;
  }
  .column {
    padding: 10px;
  }
  .col1 {
    width: 60%;
  }
  .col2 {
    width: 38%;
    margin-left: -12px;
    margin-top: 3%;
  }
  #description {
    font-size: 1.5vw;
    padding-top: 2.5vw;
    line-height: 2.8vw;
  }

  /* Portfolio slide*/
  .po_row {
    margin-left: 5%;
    margin-top: -43%;
  }
  .po-column {
    padding: 20px;
    width: 33%;
    margin-top: -4%;
  }
  #po-title {
    width:93%;
    margin-left: 12px;
    margin-top: -15px;
  }
  .middle {
    top: 105%;
    left: 50%;
    opacity: 1;
  }
  .text {
    font-size: 1.5vw;
    font-weight: bold;
    padding: 8px 8px;
  }
  .image {
    width: 100%;
  }

  /* Contact-me slide*/
  .c_row {
    margin-left: 9%;
    margin-top: -53%;
    width: 82%;
  }
  .C-column {
    width: 100%;
    margin-left: -2px;
  }
  .C-Info {
    width: 100%;
    margin-left: -2px;
  }
  .items {
    font-size: 0.5em;
    color: white;
  }
  .c-links {
    color: white;
    font-size: 1em;
  }

  /* Copyrights*/
  #Copyright {
    margin-top: -25px;
    display: block;
  }
}
