
* {
  box-sizing: border-box
}

body {
  margin: 0vw;
}


.Background-img {
  width: 110vw;
  height: auto;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  position: fixed;
  /* Add the blur effect */
  filter: blur(1px);
  /* -webkit-filter: blur(2px); */
}

.InnerContainer {
  position: relative;
  /* margin-left: -8px;
  margin-right: -8px;
  margin-top: -8px; */
}

/* Navigation bar */
.NavigationBar {
  background-color: rgba(17, 24, 71, 0.9);
  display: flex;
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  width: 100%;
  justify-content: center;
}

li {
  float: left;
}

li a, .dropbtn {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 20px 16px;
  text-decoration: none;
  font-family: "century gothic", sans-serif;
  transition: 0.7s;
}

li a:hover, .dropdown:hover .dropbtn {
  color: rgb(173 178 196);
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgba(17, 24, 71, 0.9);
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: White;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
  color: black;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Introduction */
#Section1 {
  background-color: rgb(26, 34, 89, 0.4);
  display: table;
  margin: auto;
  width: 100%;
}

.content1 {
  display: table;
  margin-top: 5vw;
  margin-left: 7vw;
  margin-right: 7vw;
  margin-bottom: 7vw;
  width: 50%;
  padding-left: 18vw;
}

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Karla:wght@700&family=Lobster&display=swap');

#title {
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
  font-size: 5vw;
  font-weight: 800;
  color: white;
}

/* About me and Contact sections */
#Section2, #Section5 {
  background-color: rgb(26, 34, 89, 0.4);
  display: table;
  margin: auto;
  width: 100%;
}

#Section5 {
  background-image: url("https://images.unsplash.com/photo-1471107340929-a87cd0f5b5f3?ixlib=rb-1.2.1&auto=format&fit=crop&w=1866&q=80");
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: -33vw;
  /* background-position-x: -15vw; */
}

.content2, .contactContainer {
  background-color: rgb(186, 102, 125, 1);
  margin-top: -3vw;
  margin-left: 20vw;
  margin-right: 20vw;
  box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.1);
  z-index: 2;
  position: relative;
}


.content5 {
  background-color: rgb(26, 34, 89, 0.5);
}

.contactContainer {
  margin-top: -6vw;
  display: flex;
  padding: 3vw;
  padding-left: 4vw;
  padding-right: 4vw;
  float: left;
  margin-bottom: 7vw;
}

.contact {
  font-family: 'century gothic', sans-serif;
  font-size: 1.8vw;
  color: #f6f6f6;
  font-weight: normal;
  padding: 2vw;
  padding-left: 1vw;
  text-align: left;
  width: 50%;
  margin: 0vw;
}

#contactOptions {
  width: 50%;
  display: contents;
  
}

.items {
  display: contents;
  width: 100%;
}

.contactLink {
}

.GmailAddress {
  font-family: 'century gothic', sans-serif;
  font-size: 1.2vw;
  text-align: left;
  line-height: 2;
  padding: 1vw;
  padding-right: 0vw;
  color: #f6f6f6;
  font-weight: normal;
  opacity: 0;
  transition: .5s ease;
  float: left;
  margin: 0vw;
}

.gmail:hover .GmailAddress {
  opacity: 1;
}

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Karla:wght@400;700&family=Lobster&family=Open+Sans+Condensed:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abel&family=Catamaran:wght@700&family=Karla:wght@400;700&family=Lobster&family=Open+Sans+Condensed:wght@300&display=swap');

#AboutMe {
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-family: 'Abel', sans-serif;
  font-size: 1.3vw;
  text-align: justify;
  line-height: 2;
  padding-top: 9vw;
  padding-left: 9vw;
  padding-right: 9vw;
  padding-bottom: 0vw;
  margin: 0;
  color: #f6f6f6;
  font-weight: normal;
}

.resume {
  /* font-family: 'Open Sans Condensed', sans-serif; */
  font-family: 'century gothic', sans-serif;
  font-size: 1.3vw;
  text-align: center;
  line-height: 2;
  color: #f6f6f6;
  font-weight: normal;
  text-decoration: none;
  padding-left: 3vw;
  padding-right: 3vw;
  padding-top: 3vw;
  padding-bottom: 4vw;
  margin: 0vw;
}

/* Work experience */
#Section3 {
  display: table;
  margin: auto;
  margin-top: -22vw;
  width: 100%;
  position: relative;
  z-index: 1;
}

.contentHolder {
  background-image: url("https://images.unsplash.com/photo-1518378379207-3418372afea3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2250&q=80");
  background-size: 120vw;
  background-position-x: -9vw;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  z-index: 1;
  /* Add the blur effect */
  filter: blur(1px);
  -webkit-filter: blur(1px);
}

.content3 {
  background-color: rgb(26, 34, 89, 0.5);
  padding-top: 27.5vw;
  position: relative;
  z-index: 2;
}

@import url('https://fonts.googleapis.com/css2?family=Catamaran:wght@700&family=Karla:wght@700&family=Lobster&display=swap');

#sectionHeader, #sectionHeader2, #sectiontitle {
  font-family: 'Karla', sans-serif;
  line-height: 1.5;
  font-size: 4vw;
  text-align: center;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-top: 1vw;
  font-weight: 800;
  color: white;
  position: relative;
  z-index: 3;

}

#sectiontitle {
  font-family: "century gothic", sans-serif;
  font-size: 2vw;
  margin-top: -0.6vw;
  margin-bottom: 0vw;
  font-weight: Normal;
}

/* #carousel {
  padding-top: 8vw;
  padding-bottom: 31vw;
}

#carousel .cloud9-item, #buttons button {
  cursor: pointer;
} */

/* .slideshow {
  display: block;
  margin-left: 10vw;
  margin-right: 10vw;
  margin-bottom: 0vw;
} */

.Gallery {
  display: flex;
  margin-left: 12vw;
  margin-right: 12vw;
  margin-top: 3vw;
}
.row {
  display: inline-flex;
    margin-bottom: 7vw;
}

.column {
    width: 30%;
    float: left;
    left: 0;
    right: 0;
    margin: 2.2vw;
    box-shadow: 3px 4px 20px 9px rgba(0, 0, 0, 0.5);
    padding: 1vw;
    background-color: rgba(186, 102, 125, 1);
}

.item {
}

.proImgTitle {
  font-family: "century gothic", sans-serif;
  font-size: 1.5vw;
  font-weight: normal;
  color: white;
}

#Section6 {
  display: table;
  margin-top: 10vw;
}

/* School projects */
#Section4 {
  background-color: rgba(14, 19, 71, 0.9);
  /* display: table; */
  width: 100%;
  position: relative;
  z-index: 2;
  margin-top: -0.1vw;
}

.content4 {
  display: table;
  width: 100%;
}

.projectsContainer {
  display: table;
  /* margin-left: 20vw; */
  /* margin-right: 20vw; */
  margin-bottom: 12vw;
  /* padding-left: 2vw; */
}

.row1, .row2, .row3 {
  width: 100%;
  display: inline-flex;
/* margin-top: -2vw; */
  margin: 0vw;
  padding-left: 20vw;
  padding-right: 20vw;
}

.row1 {
  /* margin-top: 0.1vw; */
}

.projects {
  float: left;
  flex: auto;
  width: 34%;
  padding: 4vw;
}

.text {
  opacity: 0;
}

.projectYear {
  font-family: "century gothic", sans-serif;
  color: rgba(223, 121, 149, 1);
  font-size: 2.1vw;
  margin-top: 0vw;
  margin-bottom: 0vw;
  font-weight: Normal;
}

.projectTitle {
  font-family: "century gothic", sans-serif;
  color: white;
  font-size: 1.6vw;
  margin-top: 1vw;
  margin-bottom: 0vw;
  font-weight: bold;
  line-height: 2vw;
}

.projectsIntro, .projectsLink {
  font-family: 'Karla', sans-serif;
  line-height: 1.7;
  font-size: 1.2vw;
  text-align: left;
  font-weight: lighter;
  color: white;
}

.imageHolder {
  position: relative;
  padding: 1vw;
  margin-top: -0.5vw;
}

.projectImg {
  display: block;
  border-radius: 20vw;
  box-shadow: 0px 16px 16px 0px rgba(0, 0, 0, 0.1);
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 19.5vw;
  width: 19.5vw;
  margin-left: 0.95vw;
  margin-top: 0.95vw;
  opacity: 0;
  transition: .5s ease;
  background-color: rgb(186, 102, 125, 1);
  border-radius: 20vw;
}

.imageHolder:hover .overlay {
  opacity: 1;
}

.projectsLink {
  color: white;
  font-size: 1.3vw;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  text-decoration: none;
}

.seperator-line {
  border-left: 6px solid rgb(186, 102, 125, 1);
  height: 80vw;
  position: absolute;
  left: 50%;
  top: 0;
  margin-top: 20vw;
}

#sectionHeader2 {
  margin-top: 6.5vw;
}

.copyrights {
  font-family: 'century gothic', sans-serif;
  text-align: center;
  font-size: 1.3vw;
  font-weight: normal;
  color: white;
  padding-top: 1.5vw;
  padding-bottom: 1.5vw;
  width: 100%;
  background-color: rgba(17, 24, 71, 1);
  position: absolute;
}
